__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

venv/
ENV/
env/

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

*.log

.env

playwright/.cache/
**/.playwright/
**/playwright-report/
**/test-results/

.pytest_cache/

.coverage
htmlcov/

dumps/
*.dump
*.sql
